body{
    background-color: rgb(52, 55, 63);
    font-family:Verdana, Tahoma, sans-serif;
    color: beige;

}

img{
    width: 900px;
    height: 450px;
}

p{
    text-align: center;
}

a{
    color: chartreuse;
    
}
